node_modules
**/node_modules
apps/web/build
apps/web/.svelte-kit
apps/api/dist
**/dist
.git
.gitignore
.env
.env.*
*.md
LICENSE*
Dockerfile*
compose*.yml
docker-compose*.yml
data/
.data/
uploads/
rctf.d/
