node_modules
**/node_modules
apps/web/build
apps/web/.svelte-kit
apps/api/dist
**/dist
.git
.gitignore
.env
.env.*
*.md
LICENSE*
data/
.data/
uploads/
rctf.d/
deploy/
!deploy/rctf/
!deploy/docs/
!deploy/docker-instancer/Dockerfile
!deploy/admin-bot/prewarm.sh
**/__pycache__/**
apps/k8s-controller/bin/
