node_modules
out
dist
*.tgz
coverage
*.lcov
logs
_.log
report.[0-9]_.[0-9]_.[0-9]_.[0-9]_.json
.env
.env.development.local
.env.test.local
.env.production.local
.env.local
.env.fish
.eslintcache
.cache
*.tsbuildinfo
.idea
.DS_Store
.cursor
**/drizzle/
*.db
*.db-journal
uploads/
!apps/api/src/providers/uploads/
tmp/
temp/
.data/
.svelte-kit
vite.config.js.timestamp-*
vite.config.ts.timestamp-*
build/
apps/web-test/