@import 'tailwindcss';
@import '$lib/styles/typography.css';

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

@theme inline {
  --font-sans:
    Outfit, ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji',
    'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  --font-mono:
    Geist Mono, ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas,
    'Liberation Mono', 'Courier New', monospace;

  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);

  --color-border: var(--border);
  --color-ring: var(--ring);
  --color-background-l0: var(--background-l0);
  --color-background-l1: var(--background-l1);
  --color-background-l2: var(--background-l2);
  --color-background-l3: var(--background-l3);
  --color-background-l4: var(--background-l4);
  --color-background-l5: var(--background-l5);
  --color-foreground-l0: var(--foreground-l0);
  --color-foreground-l1: var(--foreground-l1);
  --color-foreground-l2: var(--foreground-l2);
  --color-foreground-l3: var(--foreground-l3);
  --color-foreground-l4: var(--foreground-l4);
  --color-foreground-l5: var(--foreground-l5);
  --color-background-accent: var(--background-accent);
  --color-background-accent-hover: var(--background-accent-hover);
  --color-foreground-accent: var(--foreground-accent);
  --color-background-gold: var(--background-gold);
  --color-foreground-gold-l0: var(--foreground-gold-l0);
  --color-foreground-gold-l1: var(--foreground-gold-l1);
  --color-background-silver: var(--background-silver);
  --color-foreground-silver-l0: var(--foreground-silver-l0);
  --color-foreground-silver-l1: var(--foreground-silver-l1);
  --color-background-bronze: var(--background-bronze);
  --color-foreground-bronze-l0: var(--foreground-bronze-l0);
  --color-foreground-bronze-l1: var(--foreground-bronze-l1);
  --color-background-self-l0: var(--background-self-l0);
  --color-background-self-l1: var(--background-self-l1);
  --color-foreground-self-l0: var(--foreground-self-l0);
  --color-foreground-self-l1: var(--foreground-self-l1);
  --color-background-nth: var(--background-nth);
  --color-foreground-nth-l0: var(--foreground-nth-l0);
  --color-foreground-nth-l1: var(--foreground-nth-l1);
  --color-foreground-first: var(--foreground-first);
  --color-foreground-second: var(--foreground-second);
  --color-foreground-third: var(--foreground-third);
  --color-foreground-fourth: var(--foreground-fourth);
  --color-foreground-fifth: var(--foreground-fifth);
  --color-foreground-sixth: var(--foreground-sixth);
  --color-foreground-seventh: var(--foreground-seventh);
  --color-foreground-eighth: var(--foreground-eighth);
  --color-foreground-ninth: var(--foreground-ninth);
  --color-foreground-tenth: var(--foreground-tenth);
  --color-background-destructive: var(--background-destructive);
  --color-background-destructive-hover: var(--background-destructive-hover);
  --color-foreground-destructive: var(--foreground-destructive);
  --color-background-success: var(--background-success);
  --color-foreground-success: var(--foreground-success);
  --color-foreground-prose: var(--foreground-prose);
  --color-foreground-prose-link: var(--foreground-prose-link);
  --color-foreground-prose-inline-code: var(--foreground-prose-inline-code);
  --color-category-background-l0: var(--category-background-l0);
  --color-category-background-l1: var(--category-background-l1);
  --color-category-background-l1-hover: var(--category-background-l1-hover);
  --color-category-foreground-l0: var(--category-foreground-l0);
  --color-category-foreground-l1: var(--category-foreground-l1);
  --color-background-red-l0: var(--background-red-l0);
  --color-background-red-l1: var(--background-red-l1);
  --color-background-red-l1-hover: var(--background-red-l1-hover);
  --color-foreground-red-l0: var(--foreground-red-l0);
  --color-foreground-red-l1: var(--foreground-red-l1);
  --color-background-orange-l0: var(--background-orange-l0);
  --color-background-orange-l1: var(--background-orange-l1);
  --color-background-orange-l1-hover: var(--background-orange-l1-hover);
  --color-foreground-orange-l0: var(--foreground-orange-l0);
  --color-foreground-orange-l1: var(--foreground-orange-l1);
  --color-background-yellow-l0: var(--background-yellow-l0);
  --color-background-yellow-l1: var(--background-yellow-l1);
  --color-background-yellow-l1-hover: var(--background-yellow-l1-hover);
  --color-foreground-yellow-l0: var(--foreground-yellow-l0);
  --color-foreground-yellow-l1: var(--foreground-yellow-l1);
  --color-background-green-l0: var(--background-green-l0);
  --color-background-green-l1: var(--background-green-l1);
  --color-background-green-l1-hover: var(--background-green-l1-hover);
  --color-foreground-green-l0: var(--foreground-green-l0);
  --color-foreground-green-l1: var(--foreground-green-l1);
  --color-background-teal-l0: var(--background-teal-l0);
  --color-background-teal-l1: var(--background-teal-l1);
  --color-background-teal-l1-hover: var(--background-teal-l1-hover);
  --color-foreground-teal-l0: var(--foreground-teal-l0);
  --color-foreground-teal-l1: var(--foreground-teal-l1);
  --color-background-blue-l0: var(--background-blue-l0);
  --color-background-blue-l1: var(--background-blue-l1);
  --color-background-blue-l1-hover: var(--background-blue-l1-hover);
  --color-foreground-blue-l0: var(--foreground-blue-l0);
  --color-foreground-blue-l1: var(--foreground-blue-l1);
  --color-background-purple-l0: var(--background-purple-l0);
  --color-background-purple-l1: var(--background-purple-l1);
  --color-background-purple-l1-hover: var(--background-purple-l1-hover);
  --color-foreground-purple-l0: var(--foreground-purple-l0);
  --color-foreground-purple-l1: var(--foreground-purple-l1);
  --color-background-pink-l0: var(--background-pink-l0);
  --color-background-pink-l1: var(--background-pink-l1);
  --color-background-pink-l1-hover: var(--background-pink-l1-hover);
  --color-foreground-pink-l0: var(--foreground-pink-l0);
  --color-foreground-pink-l1: var(--foreground-pink-l1);
  --color-foreground-fuchsia-l0: var(--foreground-fuchsia-l0);
  --color-foreground-fuchsia-l1: var(--foreground-fuchsia-l1);
  --color-background-fuchsia-l0: var(--background-fuchsia-l0);
  --color-background-fuchsia-l1: var(--background-fuchsia-l1);
  --color-background-fuchsia-l1-hover: var(--background-fuchsia-l1-hover);
  --color-background-gray-l0: var(--background-gray-l0);
  --color-background-gray-l1: var(--background-gray-l1);
  --color-background-gray-l1-hover: var(--background-gray-l1-hover);
  --color-foreground-gray-l0: var(--foreground-gray-l0);
  --color-foreground-gray-l1: var(--foreground-gray-l1);
}

@font-face {
  font-family: 'Outfit';
  src: url('/fonts/Outfit-VariableFont_wght.woff2') format('woff2-variations');
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Geist Mono';
  src: url('/fonts/GeistMonoVF.woff2') format('woff2-variations');
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

:root {
  --radius: 0.625rem;
  --background-l0: oklch(98% 0 0);
  --background-l1: oklch(95% 0 0);
  --background-l2: oklch(93% 0 0);
  --background-l3: oklch(91% 0 0);
  --background-l4: oklch(89% 0 0);
  --background-l5: oklch(84% 0 0);
  --foreground-l0: var(--color-neutral-700);
  --foreground-l1: var(--color-neutral-600);
  --foreground-l2: var(--color-neutral-500);
  --foreground-l3: oklch(60% 0 0);
  --foreground-l4: oklch(65% 0 0);
  --foreground-l5: oklch(70% 0 0);
  --background-accent: color-mix(
    in oklch,
    var(--color-sky-200) 50%,
    transparent
  );
  --background-accent-hover: color-mix(
    in oklch,
    var(--color-sky-200) 70%,
    transparent
  );
  --foreground-accent: var(--color-sky-700);
  --background-gold: color-mix(
    in oklch,
    var(--color-yellow-500) 15%,
    transparent
  );
  --foreground-gold-l0: var(--color-yellow-600);
  --foreground-gold-l1: color-mix(
    in oklch,
    var(--color-yellow-600) 70%,
    transparent
  );
  --background-silver: color-mix(
    in oklch,
    var(--color-slate-400) 20%,
    transparent
  );
  --foreground-silver-l0: var(--color-slate-600);
  --foreground-silver-l1: color-mix(
    in oklch,
    var(--color-slate-600) 70%,
    transparent
  );
  --background-bronze: color-mix(
    in oklch,
    var(--color-amber-800) 10%,
    transparent
  );
  --foreground-bronze-l0: var(--color-amber-800);
  --foreground-bronze-l1: color-mix(
    in oklch,
    var(--color-amber-800) 70%,
    transparent
  );
  --background-self-l0: oklch(93% 0.02 160);
  --background-self-l1: oklch(91% 0.02 160);
  --foreground-self-l0: color-mix(
    in oklch,
    var(--color-emerald-700) 80%,
    transparent
  );
  --foreground-self-l1: color-mix(
    in oklch,
    var(--color-emerald-700) 60%,
    transparent
  );
  --background-nth: var(--background-l4);
  --foreground-nth-l0: var(--foreground-l1);
  --foreground-nth-l1: var(--foreground-l3);
  --foreground-first: var(--color-red-500);
  --foreground-second: var(--color-amber-500);
  --foreground-third: var(--color-lime-500);
  --foreground-fourth: var(--color-emerald-500);
  --foreground-fifth: var(--color-cyan-500);
  --foreground-sixth: var(--color-sky-500);
  --foreground-seventh: var(--color-blue-500);
  --foreground-eighth: var(--color-violet-500);
  --foreground-ninth: var(--color-fuchsia-500);
  --foreground-tenth: var(--color-pink-500);
  --background-destructive: color-mix(
    in oklch,
    var(--color-red-400) 30%,
    transparent
  );
  --background-destructive-hover: color-mix(
    in oklch,
    var(--color-red-400) 45%,
    transparent
  );
  --foreground-destructive: var(--color-red-700);
  --background-success: color-mix(
    in oklch,
    var(--color-emerald-500) 10%,
    transparent
  );
  --foreground-success: color-mix(
    in oklch,
    var(--color-emerald-700) 80%,
    transparent
  );
  --foreground-prose: var(--color-foreground-l1);
  --foreground-prose-link: var(--color-sky-700);
  --foreground-prose-inline-code: var(--color-foreground-l1);
  --background-red-l0: color-mix(
    in oklch,
    var(--color-red-400) 15%,
    transparent
  );
  --background-red-l1: color-mix(
    in oklch,
    var(--color-red-400) 5%,
    transparent
  );
  --background-red-l1-hover: color-mix(
    in oklch,
    var(--color-red-400) 5%,
    transparent
  );
  --foreground-red-l0: color-mix(
    in oklch,
    var(--color-red-900) 90%,
    transparent
  );
  --foreground-red-l1: color-mix(
    in oklch,
    var(--color-red-900) 80%,
    transparent
  );
  --background-orange-l0: color-mix(
    in oklch,
    var(--color-orange-400) 15%,
    transparent
  );
  --background-orange-l1: color-mix(
    in oklch,
    var(--color-orange-400) 5%,
    transparent
  );
  --background-orange-l1-hover: color-mix(
    in oklch,
    var(--color-orange-400) 5%,
    transparent
  );
  --foreground-orange-l0: color-mix(
    in oklch,
    var(--color-orange-900) 90%,
    transparent
  );
  --foreground-orange-l1: color-mix(
    in oklch,
    var(--color-orange-900) 80%,
    transparent
  );
  --background-yellow-l0: color-mix(
    in oklch,
    var(--color-yellow-400) 15%,
    transparent
  );
  --background-yellow-l1: color-mix(
    in oklch,
    var(--color-yellow-400) 5%,
    transparent
  );
  --background-yellow-l1-hover: color-mix(
    in oklch,
    var(--color-yellow-400) 5%,
    transparent
  );
  --foreground-yellow-l0: color-mix(
    in oklch,
    var(--color-yellow-900) 90%,
    transparent
  );
  --foreground-yellow-l1: color-mix(
    in oklch,
    var(--color-yellow-900) 80%,
    transparent
  );
  --background-green-l0: color-mix(
    in oklch,
    var(--color-green-400) 15%,
    transparent
  );
  --background-green-l1: color-mix(
    in oklch,
    var(--color-green-400) 5%,
    transparent
  );
  --background-green-l1-hover: color-mix(
    in oklch,
    var(--color-green-400) 5%,
    transparent
  );
  --foreground-green-l0: color-mix(
    in oklch,
    var(--color-green-900) 90%,
    transparent
  );
  --foreground-green-l1: color-mix(
    in oklch,
    var(--color-green-900) 80%,
    transparent
  );
  --background-teal-l0: color-mix(
    in oklch,
    var(--color-teal-400) 15%,
    transparent
  );
  --background-teal-l1: color-mix(
    in oklch,
    var(--color-teal-400) 5%,
    transparent
  );
  --background-teal-l1-hover: color-mix(
    in oklch,
    var(--color-teal-400) 5%,
    transparent
  );
  --foreground-teal-l0: color-mix(
    in oklch,
    var(--color-teal-900) 90%,
    transparent
  );
  --foreground-teal-l1: color-mix(
    in oklch,
    var(--color-teal-900) 80%,
    transparent
  );
  --background-blue-l0: color-mix(
    in oklch,
    var(--color-blue-400) 15%,
    transparent
  );
  --background-blue-l1: color-mix(
    in oklch,
    var(--color-blue-400) 5%,
    transparent
  );
  --background-blue-l1-hover: color-mix(
    in oklch,
    var(--color-blue-400) 5%,
    transparent
  );
  --foreground-blue-l0: color-mix(
    in oklch,
    var(--color-blue-900) 90%,
    transparent
  );
  --foreground-blue-l1: color-mix(
    in oklch,
    var(--color-blue-900) 80%,
    transparent
  );
  --background-purple-l0: color-mix(
    in oklch,
    var(--color-purple-400) 15%,
    transparent
  );
  --background-purple-l1: color-mix(
    in oklch,
    var(--color-purple-400) 5%,
    transparent
  );
  --background-purple-l1-hover: color-mix(
    in oklch,
    var(--color-purple-400) 5%,
    transparent
  );
  --foreground-purple-l0: color-mix(
    in oklch,
    var(--color-purple-900) 90%,
    transparent
  );
  --foreground-purple-l1: color-mix(
    in oklch,
    var(--color-purple-900) 80%,
    transparent
  );
  --background-pink-l0: color-mix(
    in oklch,
    var(--color-pink-400) 15%,
    transparent
  );
  --background-pink-l1: color-mix(
    in oklch,
    var(--color-pink-400) 5%,
    transparent
  );
  --background-pink-l1-hover: color-mix(
    in oklch,
    var(--color-pink-400) 5%,
    transparent
  );
  --foreground-pink-l0: color-mix(
    in oklch,
    var(--color-pink-900) 90%,
    transparent
  );
  --foreground-pink-l1: color-mix(
    in oklch,
    var(--color-pink-900) 80%,
    transparent
  );
  --foreground-fuchsia-l0: color-mix(
    in oklch,
    var(--color-fuchsia-900) 90%,
    transparent
  );
  --foreground-fuchsia-l1: color-mix(
    in oklch,
    var(--color-fuchsia-900) 80%,
    transparent
  );
  --background-fuchsia-l0: color-mix(
    in oklch,
    var(--color-fuchsia-400) 15%,
    transparent
  );
  --background-fuchsia-l1: color-mix(
    in oklch,
    var(--color-fuchsia-400) 5%,
    transparent
  );
  --background-fuchsia-l1-hover: color-mix(
    in oklch,
    var(--color-fuchsia-400) 5%,
    transparent
  );
  --background-gray-l0: color-mix(
    in oklch,
    var(--color-gray-400) 15%,
    transparent
  );
  --background-gray-l1: color-mix(
    in oklch,
    var(--color-gray-400) 5%,
    transparent
  );
  --background-gray-l1-hover: color-mix(
    in oklch,
    var(--color-gray-400) 5%,
    transparent
  );
  --foreground-gray-l0: color-mix(
    in oklch,
    var(--color-gray-900) 90%,
    transparent
  );
  --foreground-gray-l1: color-mix(
    in oklch,
    var(--color-gray-900) 80%,
    transparent
  );
  --border: var(--background-l4);
  --ring: var(--foreground-l4);
}

[data-theme='dark'] {
  --radius: 0.625rem;
  --background-l0: oklch(15% 0 0);
  --background-l1: oklch(18.5% 0 0);
  --background-l2: oklch(22% 0 0);
  --background-l3: oklch(26% 0 0);
  --background-l4: oklch(30% 0 0);
  --background-l5: oklch(40% 0 0);
  --foreground-l0: var(--color-neutral-50);
  --foreground-l1: var(--color-neutral-200);
  --foreground-l2: var(--color-neutral-300);
  --foreground-l3: var(--color-neutral-400);
  --foreground-l4: oklch(59.7% 0 0);
  --foreground-l5: var(--color-neutral-500);
  --background-accent: color-mix(
    in oklch,
    var(--color-sky-800) 30%,
    transparent
  );
  --background-accent-hover: color-mix(
    in oklch,
    var(--color-sky-800) 50%,
    transparent
  );
  --foreground-accent: var(--color-sky-300);
  --background-gold: color-mix(
    in oklch,
    var(--color-yellow-950) 20%,
    transparent
  );
  --foreground-gold-l0: var(--color-yellow-400);
  --foreground-gold-l1: var(--color-yellow-700);
  --background-silver: color-mix(
    in oklch,
    var(--color-slate-700) 20%,
    transparent
  );
  --foreground-silver-l0: var(--color-slate-300);
  --foreground-silver-l1: var(--color-slate-500);
  --background-bronze: color-mix(
    in oklch,
    var(--color-amber-950) 20%,
    transparent
  );
  --foreground-bronze-l0: var(--color-amber-500);
  --foreground-bronze-l1: var(--color-amber-800);
  --background-self-l0: oklch(22% 0.015 163);
  --background-self-l1: oklch(26% 0.02 163);
  --foreground-self-l0: var(--color-emerald-400);
  --foreground-self-l1: var(--color-emerald-700);
  --background-nth: var(--background-l3);
  --foreground-nth-l0: var(--foreground-l2);
  --foreground-nth-l1: var(--foreground-l3);
  --foreground-first: var(--color-red-300);
  --foreground-second: var(--color-amber-300);
  --foreground-third: var(--color-lime-300);
  --foreground-fourth: var(--color-emerald-300);
  --foreground-fifth: var(--color-cyan-300);
  --foreground-sixth: var(--color-sky-300);
  --foreground-seventh: var(--color-blue-300);
  --foreground-eighth: var(--color-violet-300);
  --foreground-ninth: var(--color-fuchsia-300);
  --foreground-tenth: var(--color-pink-300);
  --background-destructive: color-mix(
    in oklch,
    var(--color-red-950) 50%,
    transparent
  );
  --background-destructive-hover: color-mix(
    in oklch,
    var(--color-red-900) 40%,
    transparent
  );
  --foreground-destructive: var(--color-red-400);
  --background-success: color-mix(
    in oklch,
    var(--color-emerald-900) 10%,
    transparent
  );
  --foreground-success: var(--color-emerald-300);
  --foreground-prose: var(--foreground-l2);
  --foreground-prose-link: var(--color-sky-300);
  --foreground-prose-inline-code: var(--color-red-100);
  --background-red-l0: color-mix(
    in oklch,
    var(--color-red-950) 30%,
    transparent
  );
  --background-red-l1: color-mix(
    in oklch,
    var(--color-red-950) 5%,
    transparent
  );
  --background-red-l1-hover: color-mix(
    in oklch,
    var(--color-red-950) 15%,
    transparent
  );
  --foreground-red-l0: var(--color-red-100);
  --foreground-red-l1: var(--color-red-300);
  --background-orange-l0: color-mix(
    in oklch,
    var(--color-orange-950) 30%,
    transparent
  );
  --background-orange-l1: color-mix(
    in oklch,
    var(--color-orange-950) 5%,
    transparent
  );
  --background-orange-l1-hover: color-mix(
    in oklch,
    var(--color-orange-950) 15%,
    transparent
  );
  --foreground-orange-l0: var(--color-orange-100);
  --foreground-orange-l1: var(--color-orange-300);
  --background-yellow-l0: color-mix(
    in oklch,
    var(--color-yellow-950) 30%,
    transparent
  );
  --background-yellow-l1: color-mix(
    in oklch,
    var(--color-yellow-950) 5%,
    transparent
  );
  --background-yellow-l1-hover: color-mix(
    in oklch,
    var(--color-yellow-950) 15%,
    transparent
  );
  --foreground-yellow-l0: var(--color-yellow-100);
  --foreground-yellow-l1: var(--color-yellow-300);
  --background-green-l0: color-mix(
    in oklch,
    var(--color-green-950) 30%,
    transparent
  );
  --background-green-l1: color-mix(
    in oklch,
    var(--color-green-950) 5%,
    transparent
  );
  --background-green-l1-hover: color-mix(
    in oklch,
    var(--color-green-950) 15%,
    transparent
  );
  --foreground-green-l0: var(--color-green-100);
  --foreground-green-l1: var(--color-green-300);
  --background-teal-l0: color-mix(
    in oklch,
    var(--color-teal-950) 30%,
    transparent
  );
  --background-teal-l1: color-mix(
    in oklch,
    var(--color-teal-950) 5%,
    transparent
  );
  --background-teal-l1-hover: color-mix(
    in oklch,
    var(--color-teal-950) 15%,
    transparent
  );
  --foreground-teal-l0: var(--color-teal-100);
  --foreground-teal-l1: var(--color-teal-300);
  --background-blue-l0: color-mix(
    in oklch,
    var(--color-sky-950) 30%,
    transparent
  );
  --background-blue-l1: color-mix(
    in oklch,
    var(--color-sky-950) 5%,
    transparent
  );
  --background-blue-l1-hover: color-mix(
    in oklch,
    var(--color-sky-950) 15%,
    transparent
  );
  --foreground-blue-l0: var(--color-sky-100);
  --foreground-blue-l1: var(--color-sky-300);
  --background-purple-l0: color-mix(
    in oklch,
    var(--color-violet-950) 30%,
    transparent
  );
  --background-purple-l1: color-mix(
    in oklch,
    var(--color-violet-950) 5%,
    transparent
  );
  --background-purple-l1-hover: color-mix(
    in oklch,
    var(--color-violet-950) 15%,
    transparent
  );
  --foreground-purple-l0: var(--color-violet-100);
  --foreground-purple-l1: var(--color-violet-300);
  --background-pink-l0: color-mix(
    in oklch,
    var(--color-pink-950) 30%,
    transparent
  );
  --background-pink-l1: color-mix(
    in oklch,
    var(--color-pink-950) 5%,
    transparent
  );
  --background-pink-l1-hover: color-mix(
    in oklch,
    var(--color-pink-950) 15%,
    transparent
  );
  --foreground-pink-l0: var(--color-pink-100);
  --foreground-pink-l1: var(--color-pink-300);
  --foreground-fuchsia-l0: var(--color-fuchsia-100);
  --foreground-fuchsia-l1: var(--color-fuchsia-300);
  --background-fuchsia-l0: color-mix(
    in oklch,
    var(--color-fuchsia-950) 30%,
    transparent
  );
  --background-fuchsia-l1: color-mix(
    in oklch,
    var(--color-fuchsia-950) 5%,
    transparent
  );
  --background-fuchsia-l1-hover: color-mix(
    in oklch,
    var(--color-fuchsia-950) 15%,
    transparent
  );
  --background-gray-l0: color-mix(
    in oklch,
    var(--color-gray-800) 30%,
    transparent
  );
  --background-gray-l1: color-mix(
    in oklch,
    var(--color-gray-800) 5%,
    transparent
  );
  --background-gray-l1-hover: color-mix(
    in oklch,
    var(--color-gray-800) 15%,
    transparent
  );
  --foreground-gray-l0: var(--foreground-l1);
  --foreground-gray-l1: var(--foreground-l2);
  --border: var(--background-l4);
  --ring: var(--foreground-l4);
}

@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    @apply border-border outline-ring/50 tracking-tight;
  }

  body {
    @apply bg-background-l0 text-foreground-l0;
  }
}

@layer utilities {
  .grecaptcha-badge {
    @apply invisible!;
  }
}
