---
const target = "/docs"
---

<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="refresh" content={`0; url=${target}`}>
    <link rel="canonical" href={target}>
    <title>rCTF Docs</title>
  </head>
  <body>
    <a href={target}>rCTF Docs</a>
  </body>
</html>
