DEV_ENV=false

BIND_PORT=1337
WEB_WORKERS=1
USE_PROXY_HEADERS=true

AUTH_TOKEN=changeme!

INSTANCES_HOST=instancer.es3n1n.eu

REDIS_HOST=cache
#REDIS_HOST=127.0.0.1
REDIS_PORT_NUMBER=6379
REDIS_PASSWORD=123

TRAEFIK_PERMANENT_REDIRECT_MIDDLEWARE_NAME=permanent-https-redirect@file
