# https://developers.cloudflare.com/fundamentals/reference/policies-compliances/content-security-policies/#product-requirements
# https://developers.google.com/recaptcha/docs/faq#im-using-content-security-policy-csp-on-my-website.-how-can-i-configure-it-to-work-with-recaptcha
# https://docs.hcaptcha.com/#content-security-policy-settings
# https://developers.cloudflare.com/turnstile/reference/content-security-policy
add_header Referrer-Policy "no-referrer" always;
add_header Content-Security-Policy "style-src
                                       'self'
                                       'unsafe-inline'
                                       # hcaptcha
                                       https://hcaptcha.com
                                       https://*.hcaptcha.com;
                                   connect-src
                                       'self'
                                       # scoreboard export
                                       data:
                                       blob:
                                       # cloud storage providers (screenshot export fetches avatars/images)
                                       ${RCTF_R2_PUBLIC_BASE_URL}
                                       https://*.storage.googleapis.com/
                                       https://*.amazonaws.com/
                                       # hcaptcha
                                       https://hcaptcha.com/
                                       https://*.hcaptcha.com/
                                       # recaptcha
                                       https://www.google.com/recaptcha/
                                       # google analytics
                                       https://www.google-analytics.com/
                                       https://*.google-analytics.com/
                                       https://*.analytics.google.com/
                                       # cloudflare web analytics
                                       https://cloudflareinsights.com/;
                                   font-src 'self';
                                   img-src http: https: blob: data:;
                                   frame-src
                                       # youtube iframes
                                       https://www.youtube.com
                                       https://youtube.com
                                       https://www.youtube-nocookie.com
                                       # recaptcha
                                       https://www.google.com/recaptcha/
                                       https://recaptcha.google.com/recaptcha/
                                       # hcaptcha
                                       https://hcaptcha.com
                                       https://*.hcaptcha.com
                                       # turnstile
                                       https://challenges.cloudflare.com;
                                   base-uri 'self';
                                   form-action 'self';
                                   object-src 'none';
                                   media-src 'none';
                                   manifest-src 'none'"
                                   always;
add_header X-Frame-Options "DENY" always;
add_header X-Content-Type-Options "nosniff" always;
