RCTF_BASE_URL=http://rctf:80
RCTF_SECRET_KEY=beans
POLL_INTERVAL_MS=5000
PORT=21337

# Compose resource limit overrides
#ADMIN_BOT_CPU_LIMIT=2
#ADMIN_BOT_MEMORY_LIMIT=3G
#ADMIN_BOT_PIDS_LIMIT=1024
